<div id="hin"><br/>
<%=link_to 'index',root_path%>
<%=link_to 'hye',hyes_path%>
<%=link_to 'blog',posts_path%>
<%=link_to 'about',home_about_path%>
</div>
<div align='center'>
<%=image_tag 'top_img.png'%>
</div>